button:hover {
  box-shadow: black;
}

button {
  min-width: 50px;
  min-height: 25px;
  padding: 10px 10px 10px 10px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
  color: white;
}

.stop {
  background-color: black;
  color: white;
}
