button {
  min-width: 50px;
  min-height: 25px;
  padding: 10px 10px 10px 10px;
  margin-left: 5px;
}

button:focus {
  border-color: chartreuse;
  box-shadow: 5px 5px 5px black;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
  color: white;
}

.stop {
  background-color: black;
  color: white;
}
